/* Stylesheet for index.html */

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFE6C0;
}

@media (min-width: 720px) {
    body {
        display: grid;
        background-color: #FFE6C0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    h1 {
        color:#A3E9FF;
        grid-column: span 3;
    }
    section {
        font-size: large;
    }
    h2 {
        color:#C1F0FF;
    }
}

@media (min-width: 1024px) {
    body {
        display: grid;
        background-color: #FFE6C0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    h1 {
        color: #FFAD9B;
        grid-column: span 3;
    }
    section {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:larger;
        border-style: dashed;
        border-color: #C1F0FF;
    }
    h2 {
        color:#FFAD9B;
        padding-right: .5em;
    }

}